node_modules/**/*
.expo/**/*
.expo-shared/**/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.log
.git
__tests__/**/*
*.test.js
*.test.ts
*.test.tsx
.vscode
.idea
node_modules.backup/**/*
node_modules.old/**/*
node_modules.old/**/*
